@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Homepage */

.home-container {
  font-family: "Jost", sans-serif;
}

.home-container img {
  margin-left: 9rem;
}

.main-heading-cont {
  background-color: #e2f5fb;
  min-height: 90vh;
  margin: 0.8rem;
  margin-top: 0rem;
  color: #003569;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-heading-cont .main-heading {
  font-size: 5.5rem;
  text-align: center;
}

.essential-cont {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  gap: 30px;
  margin-top: 6px;
  margin-bottom: 4rem;
}
.essential-cont .essential-cont-item1 {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.essential-cont-item1 p {
  color: #727272;
}

.essential-cont-item1 button {
  background-color: #003569;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 25px;
  border: none;
}

.essential-cont-item2 {
  flex: 4;
}

.essential-leaf-cont {
  height: 180px;
  width: 180px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #ffe9b5;
  position: relative;
}

.essential-leaf-cont .essential-img1 {
  width: 190px;
  height: 200px;
  position: absolute;
  left: -140px;
  top: -55px;
}

.essential-cont-item3 {
  flex: 4;
}
.essential-cont-item3 .essential-cont-card-items {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.essential-cont-card-items img {
  width: 30px;
  margin: 0;
}

.essential-cont-card-items h1 {
  font-size: 12px;
}

.essential-cont-card-items p {
  color: #727272;
  font-size: 10px;
}

.main-heading-cont .dots-cont {
  max-width: 700px;
  width: 100%;
  display: flex;
  gap: 6px;
}
.dots-cont .dots {
  background-color: #a6b8cb;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.main-heading-cont .main-card-container {
  background-color: #17414f;
  min-height: 280px;
  max-width: 700px;
  width: 100%;
  margin-top: 2rem;
  border-radius: 30px;
  position: absolute;
  bottom: -170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
}

.main-card-items1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: -30px;
}

.main-card-items1 .card-cont-item1 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-cont-item1 .card-img-cont {
  background-color: #ffffff;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-cont img {
  margin: 0;
  width: 20px;
}

.card-cont-item1 h1 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 6px;
}
.card-cont-item1 p {
  color: #d9d9d9;
  text-align: center;
  font-size: 9px;
}

.main-card-items2 {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.main-card-items2 .card-cont-item1 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BetterIngredientsPage */
.batter-container {
  margin: 8px;
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.batter-items-container {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr 1fr; */
  max-width: 700px;
  width: 100%;
}
.batter-container .item1 {
  gap: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.batter-plain-card {
  padding: 10px;
  flex: 7;
  max-width: 500px;
  width: 100%;
}
.vitamin-c {
  flex: 4;
}
.vitamin-c .vit-img {
  width: 100%;
  margin: 0;
}
.batter-container .item2 {
  display: flex;
  gap: 3px;
}

.vit-img {
  width: 100%;
  margin: 0;
}

/* BlogPage */
.main-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.main-blog-container .main-blog-content {
  max-width: 1300px;
  width: 100%;
}

.main-blog-content .blog-heading-cont {
  text-align: center;
}

.blog-heading-cont h6 {
  color: #003569;
}

.blog-heading-cont h1 {
  color: #17414f;
}

.blog-images-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 18px;
}

.blog-images-cont .blog1 {
  background-image: url("./images/blog1.png");
  height: 350px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  padding-top: 15px;
}

.blog1 .blog-label {
  background-color: #003569;
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
  font-size: 14px;
}
.blog1 h1 {
  font-size: 18px;
  color: #ffffff;
  width: 280px;
  margin: 18px;
}

.blog-images-cont .blog2 {
  background-image: url("./images/blog2.png");
  height: 160px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  padding-top: 15px;
  margin-top: 15px;
}

.blog2 .blog-label {
  background-color: #003569;
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
  font-size: 14px;
}
.blog2 h1 {
  font-size: 18px;
  color: #ffffff;
  width: 280px;
  margin: 18px;
}

.blog-images-cont .blog3 {
  background-image: url("./images/blog3.png");
  height: 160px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  padding-top: 15px;
}

.blog3 .blog-label {
  background-color: #003569;
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
  font-size: 14px;
}
.blog3 h1 {
  font-size: 18px;
  color: #ffffff;
  width: 280px;
  margin: 18px;
}

.blog-images-cont .blog4 {
  background-image: url("./images/blog4.png");
  height: 350px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  padding-top: 15px;
  margin-top: 15px;
}

.blog4 .blog-label {
  background-color: #003569;
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
  font-size: 14px;
}
.blog4 h1 {
  font-size: 18px;
  color: #ffffff;
  width: 280px;
  margin: 18px;
}
.main-foot-container {
  background-color: #17414f;
  padding: 15px 5rem;
}
.main-foot-cont {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.main-foot-card-cont {
  display: flex;
}
.main-foot-cont .foot-card {
  background-color: #215d72;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  flex: 4;
}
.foot-image-cont {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.foot-image {
  padding: 10px;
  background-color: white;
}
.foot-image-cont p {
  color: white;
  margin-left: 5rem;
  max-width: 400px;
  width: 100%;
}
.foot-location-cont {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.foot-location-cont p {
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
@media (max-width: 968px) {
  .main-foot-cont .foot-card {
    flex-direction: column;
    justify-content: center;
  }
  .foot-card div {
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;
  }
  .foot-image-cont {
    flex-direction: column;
  }
  .foot-image-cont p {
    margin: 0;
    margin-top: 10px;
    /* padding: 10px; */
  }
}

.foot-card div {
  margin-left: 20px;
}

.foot-card div p {
  color: #ffffff;
}

@media (max-width: 780px) {
  .main-heading-cont {
    min-height: 120vh;
  }
}
@media (max-width: 700px) {
  .batter-container .item1 {
    padding: 0;
    flex-direction: column;
    /* background-color: red; */
  }
  .item1 .vitamin-c {
    max-width: 500px;
    width: 100%;
    height: 500px;
    /* background-color: teal; */
  }
  .batter-container .item2 {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0;
  }
  .item2 .vitamin-c1 {
    max-width: 500px;
    width: 100%;
  }
  .item2 .last-img {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .main-heading-cont .dots-cont {
    justify-content: center;
  }

  .main-heading-cont {
    min-height: 180vh;
  }

  .essential-cont {
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 493px) {
  .main-heading-cont {
    /* min-height: 190vh; */
  }
  .main-heading-cont .main-card-container {
    /* background-color: red; */
    display: flex;
  }
  .main-card-items1 .card-cont-item1 {
    width: 100px;
  }
  .main-card-items2 .card-cont-item1 {
    width: 100px;
  }
  .card-cont-item1 h1 {
    text-align: center;
    font-size: 12px;
  }
  .main-heading-cont .main-heading {
    font-size: 4rem;
  }
}
